<h1>FUN STORIES</h1>
<% @stories.each do |s| %>
    <h2>Story <%= s.id %> : <%= link_to s.beginning, s%></h2>
    <h3>Upvotes: <%= s.score %></h3>
<% end %>

<p>
<% if (current_user) %>
	<%= button_to "Create new Story", new_story_path, :class => "button medium", :method => :get %>
<% else %>
	<%= button_to "Create new Story", new_user_session_path, :class => "button medium", :method => :get %>
<% end %>
</p>
