<h1>FUN STORIES</h1>
<p>
<% if (current_user) %>
	<%= button_to "Create new Story", new_story_path, :class => "button medium", :method => :get %>
<% else %>
	<%= button_to "Create new Story", new_user_session_path, :class => "button medium", :method => :get %>
<% end %>
</p>

<% @stories.each do |s| %>
    <h2>Story <%= s.id %> : <%= link_to s.beginning, s%></h2>
    <h2>Likes: <%= s.score %></h2>
    <% if (current_user) %>
        <% if (current_user.voted_up_on? s) %>
            <%= link_to "Unlike", unlike_story_path(s), method: :put %>
        <% else %>
            <%= link_to "Like", like_story_path(s), method: :put %>
        <% end %>

        <% if (current_user.voted_down_on? s) %>
            <%= link_to "Undislike", undislike_story_path(s), method: :put%>
        <% else %>
            <%= link_to "Dislike", dislike_story_path(s), method: :put%>
        <% end %>
    <% else %>
        <%= link_to "Like", new_user_session_path, method: :get %>
        <%= link_to "Dislike", new_user_session_path, method: :get %>
    <% end %>
<% end %>
