<h3>Story</h3>

<p>
<% if (current_user) %>
    <%= button_to "Create new Post", new_post_path, :class => "button medium", :method => :get %>
<% else %>
    <%= button_to "Create new Post", new_user_session_path, :class => "button medium", :method => :get %>
<% end %></p>

<p>Beginning: <%= @story.beginning if @story.beginning %></p>

<p>The Story So Far:  <%= @story.beginning if @story.beginning %>
	<% @story.posts.each do |p| %>
		<% if p.success == true %>
			<%= p.content + ' '%>
		<% end %>
	<% end %>
</p>

<p><% @story.posts.each do |p| %>
	<table>
		<tr>
		<td><b>Content</b>:  <%= p.content %> </td>
		<td><b>Votes</b>:  <%= p.score %> </td>
	<table>
<% end %></p>
