<%= stylesheet_link_tag "story" %>
<div class="body">
<h3><%=@story.beginning%>...</h3>

<% if (current_user) %>
	<!-- <%= link_to "New Post", new_post_path(story_id: @story.id) %> -->
	<%= button_to "New Post", new_post_path(), :class => "button medium", :method => :get, params:{story_id: @story.id}, :style => "float: right" %>
<% else %>
    <%= button_to "New Post", new_user_session_path, :class => "button medium", :method => :get, :style => "float: right" %>
<% end %>


<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        placement : 'top',
        html : true,
        content : '<center><%= image_tag @story.user.photo.url, size: "50x50", :style => "border-radius: 1em;" %></center><h4 class="media-heading"><%=@story.user.username%> | <%= @story.user.points%></h4>'
    });
});
</script>

<a href="#story" data-toggle="collapse">The Story</a>
<div class="story"><div id="story" class = "collapse">
    <a href="<%=user_path(@story.user.id)%>" data-toggle="popover" data-trigger="hover" title="">
        <%= @story.beginning + ' ' %>
    </a>

	<% @story.posts.each do |p| %>
		<% if p.success %>
			<script>
				$(document).ready(function(){
				    $('[data-toggle="popover<%=p.id%>"]').popover({
				        placement : 'top',
				        html : true,
				        content : '<center><%= image_tag p.user.photo.url, size: "50x50", :style => "border-radius: 1em;" %></center><h4 class="media-heading"><%=p.user.username%> | <%= p.user.points%></h4>'
				    });
				});
			</script>
			<a href="<%=user_path(p.user.id)%>" data-toggle="popover<%=p.id%>" data-trigger="hover" title="">
        		<%= p.content + ' '%>
    		</a>
		<% end %>
	<% end %>
</p>
</div></div>

<br>

<script>
$(document).ready(function(){
    $(".collapse").collapse('show');
});
</script>

<a href="#posts" data-toggle="collapse">Succeeded Posts</a>

<div class="posts"><div id="posts" class = "collapse">
	<% posts_sorted_by_date = @story.posts.where(:success => true).sort_by {|post| post.updated_at} %>
	<% if (posts_sorted_by_date.size > 0) %>
		<% posts_sorted_by_date.each do |p| %>

				<div class="container">
				<br>
				<div class='votes'>
					<% if (current_user) %>

						<% if (current_user.voted_up_on? p) %>
							<!-- <%= button_to "Unlike", unlike_post_path(p), :class => "button small", :method => :put %> -->
							<%= link_to image_tag("unupvote.png", size: "40x40", style: "padding-top: 3px; padding-left: 3px;"), unlike_post_path(p), :method => :put %>
						<% else %>
							<!-- <%= button_to "Like", like_post_path(p), :class => "button medium", :method => :put %> -->
							<%= link_to image_tag("upvote.png", size: "40x40", style: "padding-top: 3px; padding-left: 3px;"), like_post_path(p), :method => :put %>

						<% end %>
						<div class='likes'><%= p.score %></div>
						<% if (current_user.voted_down_on? p) %>
							<!-- <%= button_to "Undislike", undislike_post_path(p), :class => "button small", :method => :put %> -->
							<%= link_to image_tag("undownvote.png", size: "40x40", style: "padding-top: 3px; padding-left: 3px;"), undislike_post_path(p), :method => :put %>

						<% else %>
							<!-- <%= button_to "Dislike", dislike_post_path(p), :class => "button small", :method => :put %> -->
							<%= link_to image_tag("downvote.png", size: "40x40", style: "padding-top: 3px; padding-left: 3px;"), dislike_post_path(p), :method => :put %>

						<% end %>
					<% else %>
						<%= link_to image_tag("upvote.png", size: "40x40", style: "padding-top: 3px; padding-left: 3px;"), new_user_session_path, method: :get %>
						<div class='likes'><%= p.score %></div>
						<%= link_to image_tag("downvote.png", size: "40x40", style: "padding-top: 3px; padding-left: 3px;"), new_user_session_path, method: :get %>

					<% end %>
					</div>
					<div class='user'>
						<%= image_tag p.user.photo.url, size: "50x50", :style => "border-radius: 1em;" %>
						<div>
							<%= link_to p.user.username, p.user %>
							|
							<%= p.user.points %>
						</div>
					</div>
					<div class='contentbody'>
						<blockquote><%= p.content %></blockquote>
					</div>
				</div>

			<% end %>
		<% else %>
			<br> There are no new posts! <br>
		<% end %>
</div></div>

<br>
<b>What's next?</b>
	<% posts_sorted_by_votes = @story.posts.where(:success => false).sort_by {|post| post.score}.reverse! %>
    <% if (posts_sorted_by_votes.size > 0) %>
	    <% posts_sorted_by_votes.each do |p| %>
			<div class="container">
			<br>
			<div class='votes'>
				<% if (current_user) %>

					<% if (current_user.voted_up_on? p) %>
						<!-- <%= button_to "Unlike", unlike_post_path(p), :class => "button small", :method => :put %> -->
						<%= link_to image_tag("unupvote.png", size: "40x40", style: "padding-top: 3px; padding-left: 3px;"), unlike_post_path(p), :method => :put %>
					<% else %>
						<!-- <%= button_to "Like", like_post_path(p), :class => "button medium", :method => :put %> -->
						<%= link_to image_tag("upvote.png", size: "40x40", style: "padding-top: 3px; padding-left: 3px;"), like_post_path(p), :method => :put %>

					<% end %>
					<div class='likes'><%= p.score %></div>
					<% if (current_user.voted_down_on? p) %>
						<!-- <%= button_to "Undislike", undislike_post_path(p), :class => "button small", :method => :put %> -->
						<%= link_to image_tag("undownvote.png", size: "40x40", style: "padding-top: 3px; padding-left: 3px;"), undislike_post_path(p), :method => :put %>

					<% else %>
						<!-- <%= button_to "Dislike", dislike_post_path(p), :class => "button small", :method => :put %> -->
						<%= link_to image_tag("downvote.png", size: "40x40", style: "padding-top: 3px; padding-left: 3px;"), dislike_post_path(p), :method => :put %>

					<% end %>
				<% else %>
					<%= link_to image_tag("upvote.png", size: "40x40", style: "padding-top: 3px; padding-left: 3px;"), new_user_session_path, method: :get %>
					<div class='likes'><%= p.score %></div>
					<%= link_to image_tag("downvote.png", size: "40x40", style: "padding-top: 3px; padding-left: 3px;"), new_user_session_path, method: :get %>
				<% end %>
				</div>
				<div class='user'>
					<%= image_tag p.user.photo.url, size: "50x50", :style => "border-radius: 1em;" %>
					<div>
						<%= link_to p.user.username, p.user%>
						|
						<%= p.user.points %>
					</div>
				</div>
				<div class='contentbody'>
					<blockquote><%= p.content %></blockquote>
				</div>
			</div>

        <% end %>
    <% else %>
        <br>There are no posts yet. <%= link_to "Create one now!", new_post_path(:story_id => @story.id) %>
    <% end %>
</div>
