<%= stylesheet_link_tag "story" %>

<div class="body">
<center><h1><%=@user.username%></h2>
<% if (@user == current_user) %>
    <p> Email: <%= @user.email %></p>
<% end %>
<%= image_tag @user.photo.url, size: "150x150", :style => "border-radius: 1em;" %>
<p> Member since <%= @user.created_at.strftime("%b %d, %Y")%></p>
<p> <%= @user.points%> Points</p>
</center>


<% stories = @user.stories.sort_by {|story| story.score}.reverse! %>

<% if (@user == current_user) %>
    <h1> My Stories </h1>
<% else %>
    <h1><%=@user.username%>'s Stories</h1>
<% end %>

<% if (stories.size > 0) %>
    <% stories.each do |s| %>
    <table>
        <h3><%= link_to s.beginning + "...", s%></h3>
        <p>Likes: <%= s.score %></p>
    </table>
    <% end %>
<% else %>
    You have no stories yet.
	<%= link_to "Create one now!", new_story_path, :method => :get %>
<% end %>


<% posts = @user.posts.sort_by {|post| post.score}.reverse! %>

<% if (@user == current_user) %>
    <h1> My Posts </h1>
<% else %>
    <h1><%=@user.username%>'s Posts</h1>
<% end %>

<% if (posts.size > 0) %>
    <% posts.each do |p| %>
    <table>
	    <tr>
	    <td><b>Content</b>:  <%= p.content %> </td>
	    <td><b>Likes</b>:  <%= p.score %> </td>
	    <%= link_to "View Story", Story.find(p.story_id) %>
    <table>
    <% end %>
<% else %>
    You have no posts yet!
<% end %>
</div>
