<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>-->
  <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
</head>

<%= stylesheet_link_tag "story" %>
<div class="title">
<center><h1 style="font-weight: bold; font-size: 40px; font-style: italic">Stories</h1></center>
</div>

<div class="body">
    <p>

    <% if (current_user) %>
    	<%= button_to "NEW STORY", new_story_path, :class => "button_custom", :method => :get,:style => "float: right"  %>
    <% else %>  
    	<%= button_to "NEW STORY", new_user_session_path, :class => "button_custom", :method => :get, :style => "float: right" %>
    <% end %>
    </p>


    <% @stories.sort_by {|story| story.score}.reverse!.each do |s| %>
        <script>
            $(document).ready(function(){
                $('[data-toggle="popover<%=s.id%>"]').popover({
                    placement : 'right',
                    html : true,
                    container: 'body',
                    content : '<p style="word-wrap: break-word; max-width: 500px;"><%=s.beginning%>&nbsp<% posts_sorted_by_date = s.posts.where(:success => true).sort_by {|post| post.updated_at} %><%(0..4).each do |i|%><%= posts_sorted_by_date[i].content if posts_sorted_by_date[i] %>&nbsp<% end %></p>'
                });
            });
        </script>
        <style>
            .popover<%=s.id%>{
                max-width: 150%;
                background-color: green;
            }
        </style>


				<div class="container">
				<br>
					<div class='votes'>
					<% if (current_user) %>

						<% if (current_user.voted_up_on? s) %>
							<%= link_to image_tag("unupvote.png", size: "40x40", style: "padding-top: 3px; padding-left: 3px;"), unlike_story_path(s), :method => :put %>
						<% else %>
							<%= link_to image_tag("upvote.png", size: "40x40", style: "padding-top: 3px; padding-left: 3px;"), like_story_path(s), :method => :put %>

						<% end %>
						<div class='likes'><%= s.score %></div>
						<% if (current_user.voted_down_on? s) %>
							<%= link_to image_tag("undownvote.png", size: "40x40", style: "padding-top: 3px; padding-left: 3px;"), undislike_story_path(s), :method => :put %>

						<% else %>
							<%= link_to image_tag("downvote.png", size: "40x40", style: "padding-top: 3px; padding-left: 3px;"), dislike_story_path(s), :method => :put %>

						<% end %>
					<% else %>
						<%= link_to image_tag("upvote.png", size: "40x40", style: "padding-top: 3px; padding-left: 3px;"), new_user_session_path, method: :get %>
						<div class='likes'><%= s.score %></div>
						<%= link_to image_tag("downvote.png", size: "40x40", style: "padding-top: 3px; padding-left: 3px;"), new_user_session_path, method: :get %>

					<% end %>
					</div>
					<div class='user'>
						<center><%= image_tag s.user.url, size: "60x60", :style => "border-radius: 1em;" %></center>
						<div>
							<center><div class="truncate-username" ><%= link_to s.user.username, s.user %></div>
							<div class="truncate-username" >&nbsp|&nbsp<%= s.user.points %></div></center>
						</div>
					</div>
					<div class='contentbody'>
						<a href="<%= story_path(s.id) %>" data-toggle="popover<%=s.id%>" data-trigger="hover" title="">
		            <blockquote style="display: inline-block"><%= s.beginning %><%='...'%></blockquote>
		        </a>
					</div>
				</div>


    <% end %>
</div>
