<%= stylesheet_link_tag "story" %>
<div class="body">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<h1> Create New Post </h1>
<%= simple_form_for @post do |f| %>
  <%= f.input :content, input_html: { maxlength: 75, class: "message" } %>
  <span class="countdown"></span>
  <%= f.hidden_field :story_id, value: @story.id %>
  <br>
  <%= f.submit "CREATE POST", :class => "button_custom" %>
<% end %>
<script>
function updateCountdown() {
    var remaining = 75 - jQuery('.message').val().length;
    jQuery('.countdown').text(remaining + ' characters remaining.');
}

jQuery(document).ready(function($) {
    updateCountdown();
    $('.message').change(updateCountdown);
    $('.message').keyup(updateCountdown);
});
</script>
</div>
